version: "3.9"
services:
  web:
    image: ${IMAGE}
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - HOSTNAME=0.0.0.0
      - PORT=3000
      - NODE_ENV=production
    ports:
      - "3000:3000"
